<div class='container'>
  <%= render @post %><br><br>
    
  
  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %> _||_
    <%= link_to "Back to posts", posts_path %>
    <br>
    <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn_primary mt-1"%>
  </div>
  <br>
  <br>
    <div class="container">
      <%= render "comments/form", 
      post: @post, 
      comment: @post.comments.build,
      submit_label: "Reply"
      %>
      <% @comments.each do |comment|%>
       <%= render "comments/comment", post: @post, comment: comment%>
      <%end%>
    </div>
</div>

